<?xml version="1.0" encoding="utf-8"?>
  <odoo>
  <menuitem  id="menu_hospital_root"
  name="Hospital" 
   sequence="10"
  />
  <menuitem id="menu_hospital_operation"
  name="operation "
  parent="menu_hospital_root"
  sequence="10"/>
    <menuitem id="menu_patients"
  name="patients "
  parent="menu_hospital_operation"
  sequence="10"/>
  
</odoo>
