<odoo>
  <record id="patient_action" model="ir.actions.act_window">
    <field name="name">Patient</field>
    <field name="res_model">patient</field>
    <field name="view_mode">tree,form</field>
  </record>
  
  <menuitem id="menu_patient_root" name="Patient" sequence="10" action="patient_action" />
</odoo>